.comment {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.top {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  margin-bottom: 15px;
}

.author {
  font-size: 20px;
  line-height: 24px;
}

.date {
  color: rgba(28, 28, 28, 0.5);
  font-size: 14px;
}
