.header {
  padding: 30px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
  max-width: 180px;
}

.navList {
  display: flex;
  gap: 20px;
}

.navItem a {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  line-height: 25px;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.login {
  padding: 12px 0;
  width: 135px;
  margin-left: 10px;

  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #1c1c1c;
  background-color: transparent;
  border: 2px solid #1c1c1c;
  border-radius: 10px;

  cursor: pointer;
}

.search {
  width: 30px;
  padding: 12px;

  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 25px;

  background: url('../../assets/search.svg') no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.search:focus {
  width: 360px;
}

.headerAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 30px;
}
