.post_page {
  padding-bottom: 120px;
}

.post_page .post__tags {
  justify-content: center;
  margin-bottom: 25px;
}

.post_page__img {
  margin-bottom: 60px;
  border-radius: 5px;
}

.post_page__title {
  margin: 0 auto 20px;
  max-width: 650px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}

.post_page__description {
  font-size: 16px;
  line-height: 24px;
}

.post_page__info {
  text-align: center;
  color: rgba(28, 28, 28, 0.5);
  margin-bottom: 20px;
}

.post_page__description {
  max-width: 650px;
  margin: 0 auto 70px;
  line-height: 24px;
}

.post_author {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.post_author__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.post_author__name {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
}

.post_author__email {
  color: rgba(28, 28, 28, 0.5);
}
